.scroll{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-inline: 20px;
    overflow-y: auto;
}

.up{
    position: absolute;
    bottom: 100px;
    left: 20px;
}

.down{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.btn{
    padding: 20px;
    border: none;
    background-color: rebeccapurple;
    box-shadow: inset 0  0 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 0.2em;
    color: white;
}

.btn:hover{
    background-color: royalblue;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}